
<h2 id="grays">Grays</h2>
<div class="row">
  <label>@gray-darker</label>
  <input type="text" placeholder="lighten(#000, 13.5%)" data-var="@gray-darker" class="form-control"/>
  <label>@gray-dark</label>
  <input type="text" placeholder="lighten(#000, 20%)" data-var="@gray-dark" class="form-control"/>
  <label>@gray</label>
  <input type="text" placeholder="lighten(#000, 33.5%)" data-var="@gray" class="form-control"/>
  <label>@gray-light</label>
  <input type="text" placeholder="lighten(#000, 60%)" data-var="@gray-light" class="form-control"/>
  <label>@gray-lighter</label>
  <input type="text" placeholder="lighten(#000, 93.5%)" data-var="@gray-lighter" class="form-control"/>
</div>
<h2 id="brand-colors">Brand colors</h2>
<div class="row">
  <label>@brand-primary</label>
  <input type="text" placeholder="#428bca" data-var="@brand-primary" class="form-control"/>
  <label>@brand-success</label>
  <input type="text" placeholder="#5cb85c" data-var="@brand-success" class="form-control"/>
  <label>@brand-warning</label>
  <input type="text" placeholder="#f0ad4e" data-var="@brand-warning" class="form-control"/>
  <label>@brand-danger</label>
  <input type="text" placeholder="#d9534f" data-var="@brand-danger" class="form-control"/>
  <label>@brand-info</label>
  <input type="text" placeholder="#5bc0de" data-var="@brand-info" class="form-control"/>
</div>
<h2 id="scaffolding">Scaffolding</h2>
<div class="row">
  <label>@body-bg</label>
  <input type="text" placeholder="#fff" data-var="@body-bg" class="form-control"/>
  <p class="help-block">Background color for <code>&lt;body&gt;</code>.</p>
  <label>@text-color</label>
  <input type="text" placeholder="@gray-dark" data-var="@text-color" class="form-control"/>
  <p class="help-block">Global text color on <code>&lt;body&gt;</code>.</p>
</div>
<h2 id="links">Links</h2>
<div class="row">
  <label>@link-color</label>
  <input type="text" placeholder="@brand-primary" data-var="@link-color" class="form-control"/>
  <p class="help-block">Global textual link color</p>
  <label>@link-hover-color</label>
  <input type="text" placeholder="darken(@link-color, 15%)" data-var="@link-hover-color" class="form-control"/>
  <p class="help-block">Link hover color set via <code>darken()</code> function</p>
</div>
<h2 id="typography">Typography</h2>
<div class="row">
  <label>@font-family-sans-serif</label>
  <input type="text" placeholder="&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif" data-var="@font-family-sans-serif" class="form-control"/>
  <p class="help-block">Default sans-serif fonts.</p>
  <label>@font-family-serif</label>
  <input type="text" placeholder="Georgia, &quot;Times New Roman&quot;, Times, serif" data-var="@font-family-serif" class="form-control"/>
  <p class="help-block">Default serif fonts.</p>
  <label>@font-family-monospace</label>
  <input type="text" placeholder="Monaco, Menlo, Consolas, &quot;Courier New&quot;, monospace" data-var="@font-family-monospace" class="form-control"/>
  <p class="help-block">Default monospace fonts for <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code>.</p>
  <label>@font-family-base</label>
  <input type="text" placeholder="@font-family-sans-serif" data-var="@font-family-base" class="form-control"/>
  <label>@font-size-base</label>
  <input type="text" placeholder="14px" data-var="@font-size-base" class="form-control"/>
  <label>@font-size-large</label>
  <input type="text" placeholder="ceil(@font-size-base * 1.25)" data-var="@font-size-large" class="form-control"/>
  <label>@font-size-small</label>
  <input type="text" placeholder="ceil(@font-size-base * 0.85)" data-var="@font-size-small" class="form-control"/>
  <label>@font-size-h1</label>
  <input type="text" placeholder="floor(@font-size-base * 2.6)" data-var="@font-size-h1" class="form-control"/>
  <label>@font-size-h2</label>
  <input type="text" placeholder="floor(@font-size-base * 2.15)" data-var="@font-size-h2" class="form-control"/>
  <label>@font-size-h3</label>
  <input type="text" placeholder="ceil(@font-size-base * 1.7)" data-var="@font-size-h3" class="form-control"/>
  <label>@font-size-h4</label>
  <input type="text" placeholder="ceil(@font-size-base * 1.25)" data-var="@font-size-h4" class="form-control"/>
  <label>@font-size-h5</label>
  <input type="text" placeholder="@font-size-base" data-var="@font-size-h5" class="form-control"/>
  <label>@font-size-h6</label>
  <input type="text" placeholder="ceil(@font-size-base * 0.85)" data-var="@font-size-h6" class="form-control"/>
  <label>@line-height-base</label>
  <input type="text" placeholder="1.428571429" data-var="@line-height-base" class="form-control"/>
  <label>@line-height-computed</label>
  <input type="text" placeholder="floor(@font-size-base * @line-height-base)" data-var="@line-height-computed" class="form-control"/>
  <label>@headings-font-family</label>
  <input type="text" placeholder="@font-family-base" data-var="@headings-font-family" class="form-control"/>
  <label>@headings-font-weight</label>
  <input type="text" placeholder="500" data-var="@headings-font-weight" class="form-control"/>
  <label>@headings-line-height</label>
  <input type="text" placeholder="1.1" data-var="@headings-line-height" class="form-control"/>
  <label>@headings-color</label>
  <input type="text" placeholder="inherit" data-var="@headings-color" class="form-control"/>
</div>
<h2 id="components">Components</h2>
<p>Define common padding and border radius sizes and more.</p>
<div class="row">
  <label>@padding-base-vertical</label>
  <input type="text" placeholder="6px" data-var="@padding-base-vertical" class="form-control"/>
  <label>@padding-base-horizontal</label>
  <input type="text" placeholder="12px" data-var="@padding-base-horizontal" class="form-control"/>
  <label>@padding-large-vertical</label>
  <input type="text" placeholder="10px" data-var="@padding-large-vertical" class="form-control"/>
  <label>@padding-large-horizontal</label>
  <input type="text" placeholder="16px" data-var="@padding-large-horizontal" class="form-control"/>
  <label>@padding-small-vertical</label>
  <input type="text" placeholder="5px" data-var="@padding-small-vertical" class="form-control"/>
  <label>@padding-small-horizontal</label>
  <input type="text" placeholder="10px" data-var="@padding-small-horizontal" class="form-control"/>
  <label>@line-height-large</label>
  <input type="text" placeholder="1.33" data-var="@line-height-large" class="form-control"/>
  <label>@line-height-small</label>
  <input type="text" placeholder="1.5" data-var="@line-height-small" class="form-control"/>
  <label>@border-radius-base</label>
  <input type="text" placeholder="4px" data-var="@border-radius-base" class="form-control"/>
  <label>@border-radius-large</label>
  <input type="text" placeholder="6px" data-var="@border-radius-large" class="form-control"/>
  <label>@border-radius-small</label>
  <input type="text" placeholder="3px" data-var="@border-radius-small" class="form-control"/>
  <label>@component-active-color</label>
  <input type="text" placeholder="#fff" data-var="@component-active-color" class="form-control"/>
  <p class="help-block">Global color for active items (e.g., navs or dropdowns)</p>
  <label>@component-active-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@component-active-bg" class="form-control"/>
  <p class="help-block">Global background color for active items (e.g., navs or dropdowns)</p>
  <label>@caret-width-base</label>
  <input type="text" placeholder="4px" data-var="@caret-width-base" class="form-control"/>
  <label>@caret-width-large</label>
  <input type="text" placeholder="5px" data-var="@caret-width-large" class="form-control"/>
</div>
<h2 id="tables">Tables</h2>
<div class="row">
  <label>@table-cell-padding</label>
  <input type="text" placeholder="8px" data-var="@table-cell-padding" class="form-control"/>
  <p class="help-block">Default padding for <code>&lt;th&gt;</code>s and <code>&lt;td&gt;</code>s</p>
  <label>@table-condensed-cell-padding</label>
  <input type="text" placeholder="5px" data-var="@table-condensed-cell-padding" class="form-control"/>
  <p class="help-block">Default padding for cells in <code>.table-condensed</code>.</p>
  <label>@table-bg</label>
  <input type="text" placeholder="transparent" data-var="@table-bg" class="form-control"/>
  <p class="help-block">Default background color used for all tables.</p>
  <label>@table-bg-accent</label>
  <input type="text" placeholder="#f9f9f9" data-var="@table-bg-accent" class="form-control"/>
  <p class="help-block">Background color used for <code>.table-striped</code>.</p>
  <label>@table-bg-hover</label>
  <input type="text" placeholder="#f5f5f5" data-var="@table-bg-hover" class="form-control"/>
  <p class="help-block">Background color used for <code>.table-hover</code>.</p>
  <label>@table-bg-active</label>
  <input type="text" placeholder="@table-bg-hover" data-var="@table-bg-active" class="form-control"/>
  <label>@table-border-color</label>
  <input type="text" placeholder="#ddd" data-var="@table-border-color" class="form-control"/>
  <p class="help-block">Border color for table and cell borders.</p>
</div>
<h2 id="buttons">Buttons</h2>
<p>For each of Bootstrap&#39;s buttons, define text, background and border color.</p>
<div class="row">
  <label>@btn-font-weight</label>
  <input type="text" placeholder="normal" data-var="@btn-font-weight" class="form-control"/>
  <label>@btn-default-color</label>
  <input type="text" placeholder="#333" data-var="@btn-default-color" class="form-control"/>
  <label>@btn-default-bg</label>
  <input type="text" placeholder="#fff" data-var="@btn-default-bg" class="form-control"/>
  <label>@btn-default-border</label>
  <input type="text" placeholder="#ccc" data-var="@btn-default-border" class="form-control"/>
  <label>@btn-primary-color</label>
  <input type="text" placeholder="#fff" data-var="@btn-primary-color" class="form-control"/>
  <label>@btn-primary-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@btn-primary-bg" class="form-control"/>
  <label>@btn-primary-border</label>
  <input type="text" placeholder="darken(@btn-primary-bg, 5%)" data-var="@btn-primary-border" class="form-control"/>
  <label>@btn-success-color</label>
  <input type="text" placeholder="#fff" data-var="@btn-success-color" class="form-control"/>
  <label>@btn-success-bg</label>
  <input type="text" placeholder="@brand-success" data-var="@btn-success-bg" class="form-control"/>
  <label>@btn-success-border</label>
  <input type="text" placeholder="darken(@btn-success-bg, 5%)" data-var="@btn-success-border" class="form-control"/>
  <label>@btn-warning-color</label>
  <input type="text" placeholder="#fff" data-var="@btn-warning-color" class="form-control"/>
  <label>@btn-warning-bg</label>
  <input type="text" placeholder="@brand-warning" data-var="@btn-warning-bg" class="form-control"/>
  <label>@btn-warning-border</label>
  <input type="text" placeholder="darken(@btn-warning-bg, 5%)" data-var="@btn-warning-border" class="form-control"/>
  <label>@btn-danger-color</label>
  <input type="text" placeholder="#fff" data-var="@btn-danger-color" class="form-control"/>
  <label>@btn-danger-bg</label>
  <input type="text" placeholder="@brand-danger" data-var="@btn-danger-bg" class="form-control"/>
  <label>@btn-danger-border</label>
  <input type="text" placeholder="darken(@btn-danger-bg, 5%)" data-var="@btn-danger-border" class="form-control"/>
  <label>@btn-info-color</label>
  <input type="text" placeholder="#fff" data-var="@btn-info-color" class="form-control"/>
  <label>@btn-info-bg</label>
  <input type="text" placeholder="@brand-info" data-var="@btn-info-bg" class="form-control"/>
  <label>@btn-info-border</label>
  <input type="text" placeholder="darken(@btn-info-bg, 5%)" data-var="@btn-info-border" class="form-control"/>
  <label>@btn-link-disabled-color</label>
  <input type="text" placeholder="@gray-light" data-var="@btn-link-disabled-color" class="form-control"/>
</div>
<h2 id="forms">Forms</h2>
<div class="row">
  <label>@input-bg</label>
  <input type="text" placeholder="#fff" data-var="@input-bg" class="form-control"/>
  <p class="help-block"><code>&lt;input&gt;</code> background color</p>
  <label>@input-bg-disabled</label>
  <input type="text" placeholder="@gray-lighter" data-var="@input-bg-disabled" class="form-control"/>
  <p class="help-block"><code>&lt;input disabled&gt;</code> background color</p>
  <label>@input-color</label>
  <input type="text" placeholder="@gray" data-var="@input-color" class="form-control"/>
  <p class="help-block">Text color for <code>&lt;input&gt;</code>s</p>
  <label>@input-border</label>
  <input type="text" placeholder="#ccc" data-var="@input-border" class="form-control"/>
  <p class="help-block"><code>&lt;input&gt;</code> border color</p>
  <label>@input-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@input-border-radius" class="form-control"/>
  <p class="help-block"><code>&lt;input&gt;</code> border radius</p>
  <label>@input-border-focus</label>
  <input type="text" placeholder="#66afe9" data-var="@input-border-focus" class="form-control"/>
  <p class="help-block">Border color for inputs on focus</p>
  <label>@input-color-placeholder</label>
  <input type="text" placeholder="@gray-light" data-var="@input-color-placeholder" class="form-control"/>
  <p class="help-block">Placeholder text color</p>
  <label>@input-height-base</label>
  <input type="text" placeholder="(@line-height-computed + (@padding-base-vertical * 2) + 2)" data-var="@input-height-base" class="form-control"/>
  <p class="help-block">Default <code>.form-control</code> height</p>
  <label>@input-height-large</label>
  <input type="text" placeholder="(floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2)" data-var="@input-height-large" class="form-control"/>
  <p class="help-block">Large <code>.form-control</code> height</p>
  <label>@input-height-small</label>
  <input type="text" placeholder="(floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2)" data-var="@input-height-small" class="form-control"/>
  <p class="help-block">Small <code>.form-control</code> height</p>
  <label>@legend-color</label>
  <input type="text" placeholder="@gray-dark" data-var="@legend-color" class="form-control"/>
  <label>@legend-border-color</label>
  <input type="text" placeholder="#e5e5e5" data-var="@legend-border-color" class="form-control"/>
  <label>@input-group-addon-bg</label>
  <input type="text" placeholder="@gray-lighter" data-var="@input-group-addon-bg" class="form-control"/>
  <p class="help-block">Background color for textual input addons</p>
  <label>@input-group-addon-border-color</label>
  <input type="text" placeholder="@input-border" data-var="@input-group-addon-border-color" class="form-control"/>
  <p class="help-block">Border color for textual input addons</p>
</div>
<h2 id="dropdowns">Dropdowns</h2>
<div class="row">
  <label>@dropdown-bg</label>
  <input type="text" placeholder="#fff" data-var="@dropdown-bg" class="form-control"/>
  <p class="help-block">Dropdown menu background color</p>
  <label>@dropdown-border</label>
  <input type="text" placeholder="rgba(0,0,0,.15)" data-var="@dropdown-border" class="form-control"/>
  <p class="help-block">Dropdown menu border color</p>
  <label>@dropdown-fallback-border</label>
  <input type="text" placeholder="#ccc" data-var="@dropdown-fallback-border" class="form-control"/>
  <p class="help-block">Dropdown menu border color &lt;strong&gt;for IE8&lt;/strong&gt;</p>
  <label>@dropdown-divider-bg</label>
  <input type="text" placeholder="#e5e5e5" data-var="@dropdown-divider-bg" class="form-control"/>
  <p class="help-block">Dropdown divider top border color</p>
  <label>@dropdown-link-color</label>
  <input type="text" placeholder="@gray-dark" data-var="@dropdown-link-color" class="form-control"/>
  <p class="help-block">Dropdown text color</p>
  <label>@dropdown-link-hover-color</label>
  <input type="text" placeholder="darken(@gray-dark, 5%)" data-var="@dropdown-link-hover-color" class="form-control"/>
  <p class="help-block">Hovered dropdown menu entry text color</p>
  <label>@dropdown-link-hover-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@dropdown-link-hover-bg" class="form-control"/>
  <p class="help-block">Hovered dropdown menu entry text color</p>
  <label>@dropdown-link-active-color</label>
  <input type="text" placeholder="@component-active-color" data-var="@dropdown-link-active-color" class="form-control"/>
  <p class="help-block">Active dropdown menu entry text color</p>
  <label>@dropdown-link-active-bg</label>
  <input type="text" placeholder="@component-active-bg" data-var="@dropdown-link-active-bg" class="form-control"/>
  <p class="help-block">Active dropdown menu entry background color</p>
  <label>@dropdown-link-disabled-color</label>
  <input type="text" placeholder="@gray-light" data-var="@dropdown-link-disabled-color" class="form-control"/>
  <p class="help-block">Disabled dropdown menu entry background color</p>
  <label>@dropdown-header-color</label>
  <input type="text" placeholder="@gray-light" data-var="@dropdown-header-color" class="form-control"/>
  <p class="help-block">Text color for headers within dropdown menus</p>
  <label>@dropdown-caret-color</label>
  <input type="text" placeholder="#000" data-var="@dropdown-caret-color" class="form-control"/>
  <p class="help-block">Indicator arrow for showing an element has a dropdown</p>
</div>
<h2 id="media-queries-breakpoints">Media queries breakpoints</h2>
<p>Define the breakpoints at which your layout will change, adapting to different screen sizes.</p>
<div class="row">
  <label>@screen-xs</label>
  <input type="text" placeholder="480px" data-var="@screen-xs" class="form-control"/>
  <label>@screen-xs-min</label>
  <input type="text" placeholder="@screen-xs" data-var="@screen-xs-min" class="form-control"/>
  <label>@screen-phone</label>
  <input type="text" placeholder="@screen-xs-min" data-var="@screen-phone" class="form-control"/>
  <label>@screen-sm</label>
  <input type="text" placeholder="768px" data-var="@screen-sm" class="form-control"/>
  <label>@screen-sm-min</label>
  <input type="text" placeholder="@screen-sm" data-var="@screen-sm-min" class="form-control"/>
  <label>@screen-tablet</label>
  <input type="text" placeholder="@screen-sm-min" data-var="@screen-tablet" class="form-control"/>
  <label>@screen-md</label>
  <input type="text" placeholder="992px" data-var="@screen-md" class="form-control"/>
  <label>@screen-md-min</label>
  <input type="text" placeholder="@screen-md" data-var="@screen-md-min" class="form-control"/>
  <label>@screen-desktop</label>
  <input type="text" placeholder="@screen-md-min" data-var="@screen-desktop" class="form-control"/>
  <label>@screen-lg</label>
  <input type="text" placeholder="1200px" data-var="@screen-lg" class="form-control"/>
  <label>@screen-lg-min</label>
  <input type="text" placeholder="@screen-lg" data-var="@screen-lg-min" class="form-control"/>
  <label>@screen-lg-desktop</label>
  <input type="text" placeholder="@screen-lg-min" data-var="@screen-lg-desktop" class="form-control"/>
  <label>@screen-xs-max</label>
  <input type="text" placeholder="(@screen-sm-min - 1)" data-var="@screen-xs-max" class="form-control"/>
  <label>@screen-sm-max</label>
  <input type="text" placeholder="(@screen-md-min - 1)" data-var="@screen-sm-max" class="form-control"/>
  <label>@screen-md-max</label>
  <input type="text" placeholder="(@screen-lg-min - 1)" data-var="@screen-md-max" class="form-control"/>
</div>
<h2 id="grid-system">Grid system</h2>
<p>Define your custom responsive grid.</p>
<div class="row">
  <label>@grid-columns</label>
  <input type="text" placeholder="12" data-var="@grid-columns" class="form-control"/>
  <p class="help-block">Number of columns in the grid.</p>
  <label>@grid-gutter-width</label>
  <input type="text" placeholder="30px" data-var="@grid-gutter-width" class="form-control"/>
  <p class="help-block">Padding between columns.</p>
  <label>@grid-float-breakpoint</label>
  <input type="text" placeholder="@screen-sm-min" data-var="@grid-float-breakpoint" class="form-control"/>
  <p class="help-block">Point at which the navbar stops collapsing.</p>
</div>
<h2 id="navbar">Navbar</h2>
<div class="row">
  <label>@navbar-height</label>
  <input type="text" placeholder="50px" data-var="@navbar-height" class="form-control"/>
  <label>@navbar-margin-bottom</label>
  <input type="text" placeholder="@line-height-computed" data-var="@navbar-margin-bottom" class="form-control"/>
  <label>@navbar-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@navbar-border-radius" class="form-control"/>
  <label>@navbar-padding-horizontal</label>
  <input type="text" placeholder="floor(@grid-gutter-width / 2)" data-var="@navbar-padding-horizontal" class="form-control"/>
  <label>@navbar-padding-vertical</label>
  <input type="text" placeholder="((@navbar-height - @line-height-computed) / 2)" data-var="@navbar-padding-vertical" class="form-control"/>
  <label>@navbar-default-color</label>
  <input type="text" placeholder="#777" data-var="@navbar-default-color" class="form-control"/>
  <label>@navbar-default-bg</label>
  <input type="text" placeholder="#f8f8f8" data-var="@navbar-default-bg" class="form-control"/>
  <label>@navbar-default-border</label>
  <input type="text" placeholder="darken(@navbar-default-bg, 6.5%)" data-var="@navbar-default-border" class="form-control"/>
  <label>@navbar-default-link-color</label>
  <input type="text" placeholder="#777" data-var="@navbar-default-link-color" class="form-control"/>
  <label>@navbar-default-link-hover-color</label>
  <input type="text" placeholder="#333" data-var="@navbar-default-link-hover-color" class="form-control"/>
  <label>@navbar-default-link-hover-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-default-link-hover-bg" class="form-control"/>
  <label>@navbar-default-link-active-color</label>
  <input type="text" placeholder="#555" data-var="@navbar-default-link-active-color" class="form-control"/>
  <label>@navbar-default-link-active-bg</label>
  <input type="text" placeholder="darken(@navbar-default-bg, 6.5%)" data-var="@navbar-default-link-active-bg" class="form-control"/>
  <label>@navbar-default-link-disabled-color</label>
  <input type="text" placeholder="#ccc" data-var="@navbar-default-link-disabled-color" class="form-control"/>
  <label>@navbar-default-link-disabled-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-default-link-disabled-bg" class="form-control"/>
  <label>@navbar-default-brand-color</label>
  <input type="text" placeholder="@navbar-default-link-color" data-var="@navbar-default-brand-color" class="form-control"/>
  <label>@navbar-default-brand-hover-color</label>
  <input type="text" placeholder="darken(@navbar-default-brand-color, 10%)" data-var="@navbar-default-brand-hover-color" class="form-control"/>
  <label>@navbar-default-brand-hover-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-default-brand-hover-bg" class="form-control"/>
  <label>@navbar-default-toggle-hover-bg</label>
  <input type="text" placeholder="#ddd" data-var="@navbar-default-toggle-hover-bg" class="form-control"/>
  <label>@navbar-default-toggle-icon-bar-bg</label>
  <input type="text" placeholder="#ccc" data-var="@navbar-default-toggle-icon-bar-bg" class="form-control"/>
  <label>@navbar-default-toggle-border-color</label>
  <input type="text" placeholder="#ddd" data-var="@navbar-default-toggle-border-color" class="form-control"/>
  <label>@navbar-inverse-color</label>
  <input type="text" placeholder="@gray-light" data-var="@navbar-inverse-color" class="form-control"/>
  <label>@navbar-inverse-bg</label>
  <input type="text" placeholder="#222" data-var="@navbar-inverse-bg" class="form-control"/>
  <label>@navbar-inverse-border</label>
  <input type="text" placeholder="darken(@navbar-inverse-bg, 10%)" data-var="@navbar-inverse-border" class="form-control"/>
  <label>@navbar-inverse-link-color</label>
  <input type="text" placeholder="@gray-light" data-var="@navbar-inverse-link-color" class="form-control"/>
  <label>@navbar-inverse-link-hover-color</label>
  <input type="text" placeholder="#fff" data-var="@navbar-inverse-link-hover-color" class="form-control"/>
  <label>@navbar-inverse-link-hover-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-inverse-link-hover-bg" class="form-control"/>
  <label>@navbar-inverse-link-active-color</label>
  <input type="text" placeholder="@navbar-inverse-link-hover-color" data-var="@navbar-inverse-link-active-color" class="form-control"/>
  <label>@navbar-inverse-link-active-bg</label>
  <input type="text" placeholder="darken(@navbar-inverse-bg, 10%)" data-var="@navbar-inverse-link-active-bg" class="form-control"/>
  <label>@navbar-inverse-link-disabled-color</label>
  <input type="text" placeholder="#444" data-var="@navbar-inverse-link-disabled-color" class="form-control"/>
  <label>@navbar-inverse-link-disabled-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-inverse-link-disabled-bg" class="form-control"/>
  <label>@navbar-inverse-brand-color</label>
  <input type="text" placeholder="@navbar-inverse-link-color" data-var="@navbar-inverse-brand-color" class="form-control"/>
  <label>@navbar-inverse-brand-hover-color</label>
  <input type="text" placeholder="#fff" data-var="@navbar-inverse-brand-hover-color" class="form-control"/>
  <label>@navbar-inverse-brand-hover-bg</label>
  <input type="text" placeholder="transparent" data-var="@navbar-inverse-brand-hover-bg" class="form-control"/>
  <label>@navbar-inverse-toggle-hover-bg</label>
  <input type="text" placeholder="#333" data-var="@navbar-inverse-toggle-hover-bg" class="form-control"/>
  <label>@navbar-inverse-toggle-icon-bar-bg</label>
  <input type="text" placeholder="#fff" data-var="@navbar-inverse-toggle-icon-bar-bg" class="form-control"/>
  <label>@navbar-inverse-toggle-border-color</label>
  <input type="text" placeholder="#333" data-var="@navbar-inverse-toggle-border-color" class="form-control"/>
</div>
<h2 id="navs">Navs</h2>
<div class="row">
  <label>@nav-link-padding</label>
  <input type="text" placeholder="10px 15px" data-var="@nav-link-padding" class="form-control"/>
  <label>@nav-link-hover-bg</label>
  <input type="text" placeholder="@gray-lighter" data-var="@nav-link-hover-bg" class="form-control"/>
  <label>@nav-disabled-link-color</label>
  <input type="text" placeholder="@gray-light" data-var="@nav-disabled-link-color" class="form-control"/>
  <label>@nav-disabled-link-hover-color</label>
  <input type="text" placeholder="@gray-light" data-var="@nav-disabled-link-hover-color" class="form-control"/>
  <label>@nav-open-link-hover-color</label>
  <input type="text" placeholder="#fff" data-var="@nav-open-link-hover-color" class="form-control"/>
  <label>@nav-open-caret-border-color</label>
  <input type="text" placeholder="#fff" data-var="@nav-open-caret-border-color" class="form-control"/>
</div>
<h2 id="tabs">Tabs</h2>
<div class="row">
  <label>@nav-tabs-border-color</label>
  <input type="text" placeholder="#ddd" data-var="@nav-tabs-border-color" class="form-control"/>
  <label>@nav-tabs-link-hover-border-color</label>
  <input type="text" placeholder="@gray-lighter" data-var="@nav-tabs-link-hover-border-color" class="form-control"/>
  <label>@nav-tabs-active-link-hover-bg</label>
  <input type="text" placeholder="@body-bg" data-var="@nav-tabs-active-link-hover-bg" class="form-control"/>
  <label>@nav-tabs-active-link-hover-color</label>
  <input type="text" placeholder="@gray" data-var="@nav-tabs-active-link-hover-color" class="form-control"/>
  <label>@nav-tabs-active-link-hover-border-color</label>
  <input type="text" placeholder="#ddd" data-var="@nav-tabs-active-link-hover-border-color" class="form-control"/>
  <label>@nav-tabs-justified-link-border-color</label>
  <input type="text" placeholder="#ddd" data-var="@nav-tabs-justified-link-border-color" class="form-control"/>
  <label>@nav-tabs-justified-active-link-border-color</label>
  <input type="text" placeholder="@body-bg" data-var="@nav-tabs-justified-active-link-border-color" class="form-control"/>
</div>
<h2 id="pills">Pills</h2>
<div class="row">
  <label>@nav-pills-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@nav-pills-border-radius" class="form-control"/>
  <label>@nav-pills-active-link-hover-bg</label>
  <input type="text" placeholder="@component-active-bg" data-var="@nav-pills-active-link-hover-bg" class="form-control"/>
  <label>@nav-pills-active-link-hover-color</label>
  <input type="text" placeholder="@component-active-color" data-var="@nav-pills-active-link-hover-color" class="form-control"/>
</div>
<h2 id="pagination">Pagination</h2>
<div class="row">
  <label>@pagination-bg</label>
  <input type="text" placeholder="#fff" data-var="@pagination-bg" class="form-control"/>
  <p class="help-block">Background color</p>
  <label>@pagination-border</label>
  <input type="text" placeholder="#ddd" data-var="@pagination-border" class="form-control"/>
  <p class="help-block">Border color</p>
  <label>@pagination-hover-bg</label>
  <input type="text" placeholder="@gray-lighter" data-var="@pagination-hover-bg" class="form-control"/>
  <p class="help-block">Background hover color</p>
  <label>@pagination-active-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@pagination-active-bg" class="form-control"/>
  <p class="help-block">Active background color</p>
  <label>@pagination-active-color</label>
  <input type="text" placeholder="#fff" data-var="@pagination-active-color" class="form-control"/>
  <p class="help-block">Active text color</p>
  <label>@pagination-disabled-color</label>
  <input type="text" placeholder="@gray-light" data-var="@pagination-disabled-color" class="form-control"/>
  <p class="help-block">Disabled text color</p>
</div>
<h2 id="pager">Pager</h2>
<div class="row">
  <label>@pager-border-radius</label>
  <input type="text" placeholder="15px" data-var="@pager-border-radius" class="form-control"/>
  <p class="help-block">Pager border radius</p>
  <label>@pager-disabled-color</label>
  <input type="text" placeholder="@gray-light" data-var="@pager-disabled-color" class="form-control"/>
  <p class="help-block">Pager disabled state color</p>
</div>
<h2 id="jumbotron">Jumbotron</h2>
<div class="row">
  <label>@jumbotron-padding</label>
  <input type="text" placeholder="30px" data-var="@jumbotron-padding" class="form-control"/>
  <label>@jumbotron-color</label>
  <input type="text" placeholder="inherit" data-var="@jumbotron-color" class="form-control"/>
  <label>@jumbotron-bg</label>
  <input type="text" placeholder="@gray-lighter" data-var="@jumbotron-bg" class="form-control"/>
  <label>@jumbotron-heading-color</label>
  <input type="text" placeholder="inherit" data-var="@jumbotron-heading-color" class="form-control"/>
  <label>@jumbotron-font-size</label>
  <input type="text" placeholder="ceil(@font-size-base * 1.5)" data-var="@jumbotron-font-size" class="form-control"/>
</div>
<h2 id="form-states-and-alerts">Form states and alerts</h2>
<p>Define colors for form feedback states and, by default, alerts.</p>
<div class="row">
  <label>@state-success-text</label>
  <input type="text" placeholder="#468847" data-var="@state-success-text" class="form-control"/>
  <label>@state-success-bg</label>
  <input type="text" placeholder="#dff0d8" data-var="@state-success-bg" class="form-control"/>
  <label>@state-success-border</label>
  <input type="text" placeholder="darken(spin(@state-success-bg, -10), 5%)" data-var="@state-success-border" class="form-control"/>
  <label>@state-info-text</label>
  <input type="text" placeholder="#3a87ad" data-var="@state-info-text" class="form-control"/>
  <label>@state-info-bg</label>
  <input type="text" placeholder="#d9edf7" data-var="@state-info-bg" class="form-control"/>
  <label>@state-info-border</label>
  <input type="text" placeholder="darken(spin(@state-info-bg, -10), 7%)" data-var="@state-info-border" class="form-control"/>
  <label>@state-warning-text</label>
  <input type="text" placeholder="#c09853" data-var="@state-warning-text" class="form-control"/>
  <label>@state-warning-bg</label>
  <input type="text" placeholder="#fcf8e3" data-var="@state-warning-bg" class="form-control"/>
  <label>@state-warning-border</label>
  <input type="text" placeholder="darken(spin(@state-warning-bg, -10), 5%)" data-var="@state-warning-border" class="form-control"/>
  <label>@state-danger-text</label>
  <input type="text" placeholder="#b94a48" data-var="@state-danger-text" class="form-control"/>
  <label>@state-danger-bg</label>
  <input type="text" placeholder="#f2dede" data-var="@state-danger-bg" class="form-control"/>
  <label>@state-danger-border</label>
  <input type="text" placeholder="darken(spin(@state-danger-bg, -10), 5%)" data-var="@state-danger-border" class="form-control"/>
</div>
<h2 id="tooltips">Tooltips</h2>
<div class="row">
  <label>@tooltip-max-width</label>
  <input type="text" placeholder="200px" data-var="@tooltip-max-width" class="form-control"/>
  <p class="help-block">Tooltip max width</p>
  <label>@tooltip-color</label>
  <input type="text" placeholder="#fff" data-var="@tooltip-color" class="form-control"/>
  <p class="help-block">Tooltip text color</p>
  <label>@tooltip-bg</label>
  <input type="text" placeholder="#000" data-var="@tooltip-bg" class="form-control"/>
  <p class="help-block">Tooltip background color</p>
  <label>@tooltip-arrow-width</label>
  <input type="text" placeholder="5px" data-var="@tooltip-arrow-width" class="form-control"/>
  <p class="help-block">Tooltip arrow width</p>
  <label>@tooltip-arrow-color</label>
  <input type="text" placeholder="@tooltip-bg" data-var="@tooltip-arrow-color" class="form-control"/>
  <p class="help-block">Tooltip arrow color</p>
</div>
<h2 id="popovers">Popovers</h2>
<div class="row">
  <label>@popover-bg</label>
  <input type="text" placeholder="#fff" data-var="@popover-bg" class="form-control"/>
  <p class="help-block">Popover body background color</p>
  <label>@popover-max-width</label>
  <input type="text" placeholder="276px" data-var="@popover-max-width" class="form-control"/>
  <p class="help-block">Popover maximum width</p>
  <label>@popover-border-color</label>
  <input type="text" placeholder="rgba(0,0,0,.2)" data-var="@popover-border-color" class="form-control"/>
  <p class="help-block">Popover border color</p>
  <label>@popover-fallback-border-color</label>
  <input type="text" placeholder="#ccc" data-var="@popover-fallback-border-color" class="form-control"/>
  <p class="help-block">Popover fallback border color</p>
  <label>@popover-title-bg</label>
  <input type="text" placeholder="darken(@popover-bg, 3%)" data-var="@popover-title-bg" class="form-control"/>
  <p class="help-block">Popover title background color</p>
  <label>@popover-arrow-width</label>
  <input type="text" placeholder="10px" data-var="@popover-arrow-width" class="form-control"/>
  <p class="help-block">Popover arrow width</p>
  <label>@popover-arrow-color</label>
  <input type="text" placeholder="#fff" data-var="@popover-arrow-color" class="form-control"/>
  <p class="help-block">Popover arrow color</p>
  <label>@popover-arrow-outer-width</label>
  <input type="text" placeholder="(@popover-arrow-width + 1)" data-var="@popover-arrow-outer-width" class="form-control"/>
  <p class="help-block">Popover outer arrow width</p>
  <label>@popover-arrow-outer-color</label>
  <input type="text" placeholder="rgba(0,0,0,.25)" data-var="@popover-arrow-outer-color" class="form-control"/>
  <p class="help-block">Popover outer arrow color</p>
  <label>@popover-arrow-outer-fallback-color</label>
  <input type="text" placeholder="#999" data-var="@popover-arrow-outer-fallback-color" class="form-control"/>
  <p class="help-block">Popover outer arrow fallback color</p>
</div>
<h2 id="labels">Labels</h2>
<div class="row">
  <label>@label-default-bg</label>
  <input type="text" placeholder="@gray-light" data-var="@label-default-bg" class="form-control"/>
  <p class="help-block">Default label background color</p>
  <label>@label-primary-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@label-primary-bg" class="form-control"/>
  <p class="help-block">Primary label background color</p>
  <label>@label-success-bg</label>
  <input type="text" placeholder="@brand-success" data-var="@label-success-bg" class="form-control"/>
  <p class="help-block">Success label background color</p>
  <label>@label-info-bg</label>
  <input type="text" placeholder="@brand-info" data-var="@label-info-bg" class="form-control"/>
  <p class="help-block">Info label background color</p>
  <label>@label-warning-bg</label>
  <input type="text" placeholder="@brand-warning" data-var="@label-warning-bg" class="form-control"/>
  <p class="help-block">Warning label background color</p>
  <label>@label-danger-bg</label>
  <input type="text" placeholder="@brand-danger" data-var="@label-danger-bg" class="form-control"/>
  <p class="help-block">Danger label background color</p>
  <label>@label-color</label>
  <input type="text" placeholder="#fff" data-var="@label-color" class="form-control"/>
  <p class="help-block">Default label text color</p>
  <label>@label-link-hover-color</label>
  <input type="text" placeholder="#fff" data-var="@label-link-hover-color" class="form-control"/>
  <p class="help-block">Default text color of a linked label</p>
</div>
<h2 id="modals">Modals</h2>
<div class="row">
  <label>@modal-inner-padding</label>
  <input type="text" placeholder="20px" data-var="@modal-inner-padding" class="form-control"/>
  <p class="help-block">Padding applied to the modal body</p>
  <label>@modal-title-padding</label>
  <input type="text" placeholder="15px" data-var="@modal-title-padding" class="form-control"/>
  <p class="help-block">Padding applied to the modal title</p>
  <label>@modal-title-line-height</label>
  <input type="text" placeholder="@line-height-base" data-var="@modal-title-line-height" class="form-control"/>
  <p class="help-block">Modal title line-height</p>
  <label>@modal-content-bg</label>
  <input type="text" placeholder="#fff" data-var="@modal-content-bg" class="form-control"/>
  <p class="help-block">Background color of modal content area</p>
  <label>@modal-content-border-color</label>
  <input type="text" placeholder="rgba(0,0,0,.2)" data-var="@modal-content-border-color" class="form-control"/>
  <p class="help-block">Modal content border color</p>
  <label>@modal-content-fallback-border-color</label>
  <input type="text" placeholder="#999" data-var="@modal-content-fallback-border-color" class="form-control"/>
  <p class="help-block">Modal content border color &lt;strong&gt;for IE8&lt;/strong&gt;</p>
  <label>@modal-backdrop-bg</label>
  <input type="text" placeholder="#000" data-var="@modal-backdrop-bg" class="form-control"/>
  <p class="help-block">Modal backdrop background color</p>
  <label>@modal-header-border-color</label>
  <input type="text" placeholder="#e5e5e5" data-var="@modal-header-border-color" class="form-control"/>
  <p class="help-block">Modal header border color</p>
  <label>@modal-footer-border-color</label>
  <input type="text" placeholder="@modal-header-border-color" data-var="@modal-footer-border-color" class="form-control"/>
  <p class="help-block">Modal footer border color</p>
</div>
<h2 id="alerts">Alerts</h2>
<p>Define alert colors, border radius, and padding.</p>
<div class="row">
  <label>@alert-padding</label>
  <input type="text" placeholder="15px" data-var="@alert-padding" class="form-control"/>
  <label>@alert-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@alert-border-radius" class="form-control"/>
  <label>@alert-link-font-weight</label>
  <input type="text" placeholder="bold" data-var="@alert-link-font-weight" class="form-control"/>
  <label>@alert-success-bg</label>
  <input type="text" placeholder="@state-success-bg" data-var="@alert-success-bg" class="form-control"/>
  <label>@alert-success-text</label>
  <input type="text" placeholder="@state-success-text" data-var="@alert-success-text" class="form-control"/>
  <label>@alert-success-border</label>
  <input type="text" placeholder="@state-success-border" data-var="@alert-success-border" class="form-control"/>
  <label>@alert-info-bg</label>
  <input type="text" placeholder="@state-info-bg" data-var="@alert-info-bg" class="form-control"/>
  <label>@alert-info-text</label>
  <input type="text" placeholder="@state-info-text" data-var="@alert-info-text" class="form-control"/>
  <label>@alert-info-border</label>
  <input type="text" placeholder="@state-info-border" data-var="@alert-info-border" class="form-control"/>
  <label>@alert-warning-bg</label>
  <input type="text" placeholder="@state-warning-bg" data-var="@alert-warning-bg" class="form-control"/>
  <label>@alert-warning-text</label>
  <input type="text" placeholder="@state-warning-text" data-var="@alert-warning-text" class="form-control"/>
  <label>@alert-warning-border</label>
  <input type="text" placeholder="@state-warning-border" data-var="@alert-warning-border" class="form-control"/>
  <label>@alert-danger-bg</label>
  <input type="text" placeholder="@state-danger-bg" data-var="@alert-danger-bg" class="form-control"/>
  <label>@alert-danger-text</label>
  <input type="text" placeholder="@state-danger-text" data-var="@alert-danger-text" class="form-control"/>
  <label>@alert-danger-border</label>
  <input type="text" placeholder="@state-danger-border" data-var="@alert-danger-border" class="form-control"/>
</div>
<h2 id="progress-bars">Progress bars</h2>
<div class="row">
  <label>@progress-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@progress-bg" class="form-control"/>
  <p class="help-block">Background color of the whole progress component</p>
  <label>@progress-bar-color</label>
  <input type="text" placeholder="#fff" data-var="@progress-bar-color" class="form-control"/>
  <p class="help-block">Info progress bar text color</p>
  <label>@progress-bar-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@progress-bar-bg" class="form-control"/>
  <p class="help-block">Default progress bar color</p>
  <label>@progress-bar-success-bg</label>
  <input type="text" placeholder="@brand-success" data-var="@progress-bar-success-bg" class="form-control"/>
  <p class="help-block">Success progress bar color</p>
  <label>@progress-bar-warning-bg</label>
  <input type="text" placeholder="@brand-warning" data-var="@progress-bar-warning-bg" class="form-control"/>
  <p class="help-block">Warning progress bar color</p>
  <label>@progress-bar-danger-bg</label>
  <input type="text" placeholder="@brand-danger" data-var="@progress-bar-danger-bg" class="form-control"/>
  <p class="help-block">Danger progress bar color</p>
  <label>@progress-bar-info-bg</label>
  <input type="text" placeholder="@brand-info" data-var="@progress-bar-info-bg" class="form-control"/>
  <p class="help-block">Info progress bar color</p>
</div>
<h2 id="list-group">List group</h2>
<div class="row">
  <label>@list-group-bg</label>
  <input type="text" placeholder="#fff" data-var="@list-group-bg" class="form-control"/>
  <p class="help-block">Background color on <code>.list-group-item</code></p>
  <label>@list-group-border</label>
  <input type="text" placeholder="#ddd" data-var="@list-group-border" class="form-control"/>
  <p class="help-block"><code>.list-group-item</code> border color</p>
  <label>@list-group-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@list-group-border-radius" class="form-control"/>
  <p class="help-block">List group border radius</p>
  <label>@list-group-hover-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@list-group-hover-bg" class="form-control"/>
  <p class="help-block">Background color of single list elements on hover</p>
  <label>@list-group-active-color</label>
  <input type="text" placeholder="@component-active-color" data-var="@list-group-active-color" class="form-control"/>
  <p class="help-block">Text color of active list elements</p>
  <label>@list-group-active-bg</label>
  <input type="text" placeholder="@component-active-bg" data-var="@list-group-active-bg" class="form-control"/>
  <p class="help-block">Background color of active list elements</p>
  <label>@list-group-active-border</label>
  <input type="text" placeholder="@list-group-active-bg" data-var="@list-group-active-border" class="form-control"/>
  <p class="help-block">Border color of active list elements</p>
  <label>@list-group-link-color</label>
  <input type="text" placeholder="#555" data-var="@list-group-link-color" class="form-control"/>
  <label>@list-group-link-heading-color</label>
  <input type="text" placeholder="#333" data-var="@list-group-link-heading-color" class="form-control"/>
</div>
<h2 id="panels">Panels</h2>
<div class="row">
  <label>@panel-bg</label>
  <input type="text" placeholder="#fff" data-var="@panel-bg" class="form-control"/>
  <label>@panel-inner-border</label>
  <input type="text" placeholder="#ddd" data-var="@panel-inner-border" class="form-control"/>
  <p class="help-block">Border color for elements within panels</p>
  <label>@panel-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@panel-border-radius" class="form-control"/>
  <label>@panel-footer-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@panel-footer-bg" class="form-control"/>
  <label>@panel-default-text</label>
  <input type="text" placeholder="@gray-dark" data-var="@panel-default-text" class="form-control"/>
  <label>@panel-default-border</label>
  <input type="text" placeholder="#ddd" data-var="@panel-default-border" class="form-control"/>
  <label>@panel-default-heading-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@panel-default-heading-bg" class="form-control"/>
  <label>@panel-primary-text</label>
  <input type="text" placeholder="#fff" data-var="@panel-primary-text" class="form-control"/>
  <label>@panel-primary-border</label>
  <input type="text" placeholder="@brand-primary" data-var="@panel-primary-border" class="form-control"/>
  <label>@panel-primary-heading-bg</label>
  <input type="text" placeholder="@brand-primary" data-var="@panel-primary-heading-bg" class="form-control"/>
  <label>@panel-success-text</label>
  <input type="text" placeholder="@state-success-text" data-var="@panel-success-text" class="form-control"/>
  <label>@panel-success-border</label>
  <input type="text" placeholder="@state-success-border" data-var="@panel-success-border" class="form-control"/>
  <label>@panel-success-heading-bg</label>
  <input type="text" placeholder="@state-success-bg" data-var="@panel-success-heading-bg" class="form-control"/>
  <label>@panel-warning-text</label>
  <input type="text" placeholder="@state-warning-text" data-var="@panel-warning-text" class="form-control"/>
  <label>@panel-warning-border</label>
  <input type="text" placeholder="@state-warning-border" data-var="@panel-warning-border" class="form-control"/>
  <label>@panel-warning-heading-bg</label>
  <input type="text" placeholder="@state-warning-bg" data-var="@panel-warning-heading-bg" class="form-control"/>
  <label>@panel-danger-text</label>
  <input type="text" placeholder="@state-danger-text" data-var="@panel-danger-text" class="form-control"/>
  <label>@panel-danger-border</label>
  <input type="text" placeholder="@state-danger-border" data-var="@panel-danger-border" class="form-control"/>
  <label>@panel-danger-heading-bg</label>
  <input type="text" placeholder="@state-danger-bg" data-var="@panel-danger-heading-bg" class="form-control"/>
  <label>@panel-info-text</label>
  <input type="text" placeholder="@state-info-text" data-var="@panel-info-text" class="form-control"/>
  <label>@panel-info-border</label>
  <input type="text" placeholder="@state-info-border" data-var="@panel-info-border" class="form-control"/>
  <label>@panel-info-heading-bg</label>
  <input type="text" placeholder="@state-info-bg" data-var="@panel-info-heading-bg" class="form-control"/>
</div>
<h2 id="thumbnails">Thumbnails</h2>
<div class="row">
  <label>@thumbnail-padding</label>
  <input type="text" placeholder="4px" data-var="@thumbnail-padding" class="form-control"/>
  <p class="help-block">Padding around the thumbnail image</p>
  <label>@thumbnail-bg</label>
  <input type="text" placeholder="@body-bg" data-var="@thumbnail-bg" class="form-control"/>
  <p class="help-block">Thumbnail background color</p>
  <label>@thumbnail-border</label>
  <input type="text" placeholder="#ddd" data-var="@thumbnail-border" class="form-control"/>
  <p class="help-block">Thumbnail border color</p>
  <label>@thumbnail-border-radius</label>
  <input type="text" placeholder="@border-radius-base" data-var="@thumbnail-border-radius" class="form-control"/>
  <p class="help-block">Thumbnail border radius</p>
  <label>@thumbnail-caption-color</label>
  <input type="text" placeholder="@text-color" data-var="@thumbnail-caption-color" class="form-control"/>
  <p class="help-block">Custom text color for thumbnail captions</p>
  <label>@thumbnail-caption-padding</label>
  <input type="text" placeholder="9px" data-var="@thumbnail-caption-padding" class="form-control"/>
  <p class="help-block">Padding around the thumbnail caption</p>
</div>
<h2 id="wells">Wells</h2>
<div class="row">
  <label>@well-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@well-bg" class="form-control"/>
</div>
<h2 id="badges">Badges</h2>
<div class="row">
  <label>@badge-color</label>
  <input type="text" placeholder="#fff" data-var="@badge-color" class="form-control"/>
  <label>@badge-link-hover-color</label>
  <input type="text" placeholder="#fff" data-var="@badge-link-hover-color" class="form-control"/>
  <p class="help-block">Linked badge text color on hover</p>
  <label>@badge-bg</label>
  <input type="text" placeholder="@gray-light" data-var="@badge-bg" class="form-control"/>
  <label>@badge-active-color</label>
  <input type="text" placeholder="@link-color" data-var="@badge-active-color" class="form-control"/>
  <p class="help-block">Badge text color in active nav link</p>
  <label>@badge-active-bg</label>
  <input type="text" placeholder="#fff" data-var="@badge-active-bg" class="form-control"/>
  <p class="help-block">Badge background color in active nav link</p>
  <label>@badge-font-weight</label>
  <input type="text" placeholder="bold" data-var="@badge-font-weight" class="form-control"/>
  <label>@badge-border-radius</label>
  <input type="text" placeholder="10px" data-var="@badge-border-radius" class="form-control"/>
</div>
<h2 id="breadcrumbs">Breadcrumbs</h2>
<div class="row">
  <label>@breadcrumb-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@breadcrumb-bg" class="form-control"/>
  <p class="help-block">Breadcrumb background color</p>
  <label>@breadcrumb-color</label>
  <input type="text" placeholder="#ccc" data-var="@breadcrumb-color" class="form-control"/>
  <p class="help-block">Breadcrumb text color</p>
  <label>@breadcrumb-active-color</label>
  <input type="text" placeholder="@gray-light" data-var="@breadcrumb-active-color" class="form-control"/>
  <p class="help-block">Text color of current page in the breadcrumb</p>
  <label>@breadcrumb-separator</label>
  <input type="text" placeholder="&quot;/&quot;" data-var="@breadcrumb-separator" class="form-control"/>
  <p class="help-block">Textual separator for between breadcrumb elements</p>
</div>
<h2 id="carousel">Carousel</h2>
<div class="row">
  <label>@carousel-text-shadow</label>
  <input type="text" placeholder="0 1px 2px rgba(0,0,0,.6)" data-var="@carousel-text-shadow" class="form-control"/>
  <label>@carousel-control-color</label>
  <input type="text" placeholder="#fff" data-var="@carousel-control-color" class="form-control"/>
  <label>@carousel-control-width</label>
  <input type="text" placeholder="15%" data-var="@carousel-control-width" class="form-control"/>
  <label>@carousel-control-opacity</label>
  <input type="text" placeholder=".5" data-var="@carousel-control-opacity" class="form-control"/>
  <label>@carousel-control-font-size</label>
  <input type="text" placeholder="20px" data-var="@carousel-control-font-size" class="form-control"/>
  <label>@carousel-indicator-active-bg</label>
  <input type="text" placeholder="#fff" data-var="@carousel-indicator-active-bg" class="form-control"/>
  <label>@carousel-indicator-border-color</label>
  <input type="text" placeholder="#fff" data-var="@carousel-indicator-border-color" class="form-control"/>
  <label>@carousel-caption-color</label>
  <input type="text" placeholder="#fff" data-var="@carousel-caption-color" class="form-control"/>
</div>
<h2 id="close">Close</h2>
<div class="row">
  <label>@close-font-weight</label>
  <input type="text" placeholder="bold" data-var="@close-font-weight" class="form-control"/>
  <label>@close-color</label>
  <input type="text" placeholder="#000" data-var="@close-color" class="form-control"/>
  <label>@close-text-shadow</label>
  <input type="text" placeholder="0 1px 0 #fff" data-var="@close-text-shadow" class="form-control"/>
</div>
<h2 id="code">Code</h2>
<div class="row">
  <label>@code-color</label>
  <input type="text" placeholder="#c7254e" data-var="@code-color" class="form-control"/>
  <label>@code-bg</label>
  <input type="text" placeholder="#f9f2f4" data-var="@code-bg" class="form-control"/>
  <label>@pre-bg</label>
  <input type="text" placeholder="#f5f5f5" data-var="@pre-bg" class="form-control"/>
  <label>@pre-color</label>
  <input type="text" placeholder="@gray-dark" data-var="@pre-color" class="form-control"/>
  <label>@pre-border-color</label>
  <input type="text" placeholder="#ccc" data-var="@pre-border-color" class="form-control"/>
  <label>@pre-scrollable-max-height</label>
  <input type="text" placeholder="340px" data-var="@pre-scrollable-max-height" class="form-control"/>
</div>
<h2 id="type">Type</h2>
<div class="row">
  <label>@text-muted</label>
  <input type="text" placeholder="@gray-light" data-var="@text-muted" class="form-control"/>
  <p class="help-block">Text muted color</p>
  <label>@abbr-border-color</label>
  <input type="text" placeholder="@gray-light" data-var="@abbr-border-color" class="form-control"/>
  <p class="help-block">Abbreviations and acronyms border color</p>
  <label>@headings-small-color</label>
  <input type="text" placeholder="@gray-light" data-var="@headings-small-color" class="form-control"/>
  <p class="help-block">Headings small color</p>
  <label>@blockquote-small-color</label>
  <input type="text" placeholder="@gray-light" data-var="@blockquote-small-color" class="form-control"/>
  <p class="help-block">Blockquote small color</p>
  <label>@blockquote-border-color</label>
  <input type="text" placeholder="@gray-lighter" data-var="@blockquote-border-color" class="form-control"/>
  <p class="help-block">Blockquote border color</p>
  <label>@page-header-border-color</label>
  <input type="text" placeholder="@gray-lighter" data-var="@page-header-border-color" class="form-control"/>
  <p class="help-block">Page header border color</p>
</div>
<h2 id="miscellaneous">Miscellaneous</h2>
<div class="row">
  <label>@hr-border</label>
  <input type="text" placeholder="@gray-lighter" data-var="@hr-border" class="form-control"/>
  <p class="help-block">Horizontal line color</p>
  <label>@component-offset-horizontal</label>
  <input type="text" placeholder="180px" data-var="@component-offset-horizontal" class="form-control"/>
  <p class="help-block">Horizontal offset for forms and lists</p>
</div>
<h2 id="container-sizes">Container sizes</h2>
<p>Define the maximum width of <code>.container</code> for different screen sizes.</p>
<div class="row">
  <label>@container-tablet</label>
  <input type="text" placeholder="((720px + @grid-gutter-width))" data-var="@container-tablet" class="form-control"/>
  <label>@container-sm</label>
  <input type="text" placeholder="@container-tablet" data-var="@container-sm" class="form-control"/>
  <p class="help-block">For <code>@screen-sm-min</code> and up.</p>
  <label>@container-desktop</label>
  <input type="text" placeholder="((940px + @grid-gutter-width))" data-var="@container-desktop" class="form-control"/>
  <label>@container-md</label>
  <input type="text" placeholder="@container-desktop" data-var="@container-md" class="form-control"/>
  <p class="help-block">For <code>@screen-md-min</code> and up.</p>
  <label>@container-large-desktop</label>
  <input type="text" placeholder="((1140px + @grid-gutter-width))" data-var="@container-large-desktop" class="form-control"/>
  <label>@container-lg</label>
  <input type="text" placeholder="@container-large-desktop" data-var="@container-lg" class="form-control"/>
  <p class="help-block">For <code>@screen-lg-min</code> and up.</p>
</div>